<div class="row row-eq-height">
  <div class="col-md-3">
    <h3>Categories</h3>
    <ul>
    </ul>
  </div>
  <div class="col-md-9">
    <!-- todo: show/hide on angular login -->
    <!--     <a class="body-bold" href="{{url_for('item_new')}}"> -->
    <!--   Add item -->
    <!-- </a> -->
    <h3>Latest Items</h3>
    <ul>
  <!--       <li> -->
  <!--   <a href="{{url_for('item_detail', category_name=item.category.name, item_title=item.title)}}"> -->
  <!--     {{item.title}} -->
  <!--   </a> -->
  <!--   <span> -->
  <!--     ({{item.category.name}}) -->
  <!--   </span> -->
  <!-- </li> -->

    </ul>
  </div>
</div>



