<div class="row row-eq-height">
  <div class="col-md-3">
    <h3>Categories</h3>
    <ul>
      <li ng-repeat="category in categories">
        <a href="" ng-click="showCat(category.id)">
          {{category.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <a class="body-bold" href="#/catalog/item/new"
       ng-show="logged_in()">
      Add item
    </a>
    <h3>{{items_title}}</h3>
    <ul>
      <li ng-repeat="item in items">
        <a href="#/catalog/{{getCatName(item.category_id)}}/{{item.title}}">
          {{item.title}}
        </a>
        <span>
          ({{ getCatName(item.category_id) }})
        </span>
      </li>
    </ul>
  </div>
</div>



