<div class="row">
  <div class="col-md-12">
    <h3>{{item.title}}</h3>
    <!-- {% if has_img %} -->
    <!-- <\!-- add a query string to prevent caching -\-> -->
    <!-- <img src="{{url_for('item_img',item_id=item.id)}}?rand={{rand_q}}"> -->
    <!-- {% endif %} -->
    <p>Description: {{item.description}}</p>
    <!-- todo: only allow owners of items to edit -->
    <div ng-show="logged_in()">
      <a href="#/catalog/{{item.title}}/edit">
        Edit
      </a>
      |
      <a href="#/catalog/{{item.title}}/delete">
        Delete
      </a>
    </div>
  </div>
</div>
