<div class="row" ng-hide="loading">
  <div class="col-md-12">
    <h3>{{item.title}}</h3>
    <!-- {% if has_img %} -->
    <!-- <\!-- add a query string to prevent caching -\-> -->
    <!-- <img src="{{url_for('item_img',item_id=item.id)}}?rand={{rand_q}}"> -->
    <!-- {% endif %} -->
    <p>Description: {{item.description}}</p>
    <!-- todo: only allow owners of items to edit -->
    <div ng-show="logged_in()">
      <a href="#{{reverse('item-edit', {title: item.title})}}">
        Edit
      </a>
      |
      <a href="#{{reverse('item-delete', {title: item.title})}}">
        Delete
      </a>
    </div>
  </div>
</div>

<div class="row" ng-show="loading">
  <div class="col-md-12">
    <div class="sk-rotating-plane"></div>
  </div>
</div>
